body {

    
    background-color: #132743;

}

.first-container {

    max-width: 850px;
    margin: 190px auto;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    border-radius: 10px;
    padding-top: 5px;
    
}

.container {

    margin: 100px auto;
    max-width: 700px;
}

h1 {

    text-align: center;
    font-size: 40px;
    color: black;
    padding-bottom: 20px;


}

.form-container {

    padding: 20px;
    background-color: white;
    border: 1px #757a79;
    border-radius: 10px;

}

form {

    display: flex;
    
}

.little-text {

    padding: 5px 10px;
    font-style: italic;
    color: darkgrey;
}

.instructions {

    padding: 15px;
    border: 1px #757a79;
    width: 80%;
    font-size: 15px;
    border-radius: 20px;
    color: darkgrey;
    
   
}

.submit-button {

    margin-left: 10px;
    background-color: #0a0944;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 20px;
    font-size: 15px;

}

.poem {

    
    padding: 10px;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    background-color: #fffdf6;
    margin: 15px;
    border-radius: 3px;
    border-left: 2px solid #004445;

}

footer {

    text-align: center;
    color: black;
    padding-bottom: 10px;
}