body {

    background-color: beige;
}

.container {

    margin: 120px auto;
    max-width: 600px;
}
h1 {

    text-align: center;
}

form {

    text-align: center;
    padding: 10px;
}

.poem {

    text-align: center;
    padding: 15px;
    font-style: italic;
}

footer {

    text-align: center;
    color: black;
}